.about-us{
    padding: 160px 0;
   
    &_container{
        @include container;
    }
    &_wrapper{
        @include wrapper;
        align-items: start;
        gap:52px;
    }
    &_img{
        width: 520px;
        display: flex;
        justify-content: center;
        align-items: end;
        height: 700px;
        background-image: url(../images//about-orange-bg.png);
        background-repeat: no-repeat;
        background-position: 0 192px;        ;
        position: relative;

        &::before{
            content: url(../images/about-bread.png);
            width: 370px;
            position: absolute;
            top: 45px;
            left: -25px;
            z-index: 0;
        }
        .img_main{
            z-index: 1;
        }
    }
    &_content{
        padding-top: 45px;;
    }
    &_title{ 
        font-family: $oswald;
        font-weight: 400;
        font-size: 16px;
        line-height: 200%;
        letter-spacing: 0.19em;
        text-transform: uppercase;
        color: #171b1b;
        margin-bottom: 18px;
    }
    &_subtitle{
        font-family: $ultra;
        font-weight: 400;
        font-size: 56px;
        line-height: 114%;
        color: #171b1b;
        text-transform: capitalize;
        margin-bottom: 59px;
        max-width: 570px;

    }
}