.hero{
    background-color: $beige;

    &_wrapper{
        @include wrapper;
        align-items: normal;


        @media (max-width: $mobile) {
            flex-direction: column-reverse;
        }
        @media (min-width: 1440px) {
            justify-content: center;    
            }

    }
    &_content{
        position: relative;
        padding: 162px 123px 241px 123px ; 
        margin: 0 auto;

        @media (min-width: 1440px) {
            margin: unset;
            }
        @media (max-width: $tablet) {
        padding: 42px 113px 0 23px ; 

        }

        @media (max-width: $mobile) {
        padding: 30px 60px;
        }
    }
    &_subtext{
        font-family: $oswald;
        font-weight: 400;
        font-size: 16px;
        line-height: 200%;
        letter-spacing: 0.19em;
        text-transform: uppercase;
        color: #000;

        margin-bottom: 21px;
        &::before{
            content: url(../images/hero_grain.png);
            top: -50px;
            position: absolute;
            left: 0;
        }
        @media (max-width: $tablet) {
            margin-bottom: 18px;
            }

    }
    &_title{
        font-family: $ultra;
        text-transform: capitalize;
        font-weight: 400;
        font-size: 72px;
        line-height: 111%;
        color: #000;
        width: 467px;

        position: relative;
        margin-bottom: 27px;
        &::after{
            content: url(../images/hero-black-dots.png);
            top: -15%;
            position: absolute;
            right: 40%;
        }

        @media (max-width: $tablet) {
            font-size: 48px;
            width: 230px;

            &::after{
                top: -15%;
                right: -15%;
            }
            }
        @media (max-width: $mobile) {
            width: 320px;
            font-size: 38px;
            &::after{
                top: -65%;
                right: 0;
            }

        }
    }

    &_description{
        font-family: $dm-sans;
        font-weight: 400;
        font-size: 20px;
        line-height: 160%;
        color: #000;
        max-width: 470px;
        
        @media (max-width: $tablet) {
            font-size: 16px;
            }
    }
    &-img_item{
        max-width: 715px;
        max-height: auto;



        @media (max-width:$tablet) {
            max-width: 430px;
            margin: 0 auto;
        }

    }
}