//~MIXINS


//** MAIN CONTAINER

@mixin container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;


    @media (min-width: 1440px) {
        max-width: 1440px;
        }
}

//** FLEX-WRAPPER
@mixin wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}