//FONTS IMPORT

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');


//FONT-FAMILY

$oswald: "Oswald", sans-serif;
$dm-sans: "DM Sans", sans-serif;
$ultra: "Ultra", serif;


//COLORS

$white: #FFFF;
$black: #0000;
$font-black: #171B1B;
$grey: #333333;
$beige: #E7D4BE;
$beige-orange: #F5D3AB;
$orange: #F9BF77;
$orange-star: #F5A623;
$orange-bg: #FBB65F;