<header class="header">
        <div class="header_container">
            <div class="header_wrapper">
                <div class="header_logo">
                    <a href="/">     
                        <img src="../../assets/images/BKR.png">
                    </a>               
                </div>
                <ul class="header_menu menu">
                <li class="menu_item"><a class="menu_link" href="/about">about</a></li>
                <li class="menu_item"><a class="menu_link"  href="/products">products</a></li>
                <li class="menu_item"><a class="menu_link"  href="/recipes">recipes</a></li>
                </ul>
                <div class="header_burger ">
                    <div class="burger-menu " id="burger-menu">
                        <span></span>
                    </div>
                <ul class="mobile_menu is-hidden" id="mobile-menu">
                    <li><a href="/about">about</a></li>
                    <li><a href="/products">products</a></li>
                    <li><a href="/recipes">recipes</a></li>
                </ul>
                </div>
                <div class="header_contact"><a href="/contact">contact</a></div>
        </div>
    </header>